.todo {
  min-width: 400px;
  margin-top: 0;
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.loading { 
  text-align: 'center'; 
  font-size: '1.5em' 
}