@import './common/styles/variables';
body {
  margin: 0;
  font-family: $font-family;
  box-sizing: border-box;
  background-color: $background-color;
}

textarea {
  resize: none;
  border: none;
  overflow-wrap: break-word;
  /* white-space: nowrap; */
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: large;
  font-family: $font-family; 
}