@import '../../common/styles/templates';
@import '../../common/styles/variables';

.container{
  @include card;
  flex-direction: column;
  min-height: 150px;
}

.input{
  margin-bottom: 1rem;
  padding: 0.4rem;
  outline: 1px solid $white-color;
  border: 1px solid $white-color;
}


.btn-wrapper {
  display: flex;
  justify-content: center;
}

.card-btn {
  @include common-btn;
  margin: 0;

  &:first-child {
    margin-right: 20px;
  }
}

.error {
  width: max-content;
  margin: 10px auto 0;
  background-color: $white-color;
}