@import "./variables";

@mixin common-btn {
  padding: 5px 15px;
  border-radius: 4px;
  border: 1px $body-color solid;
  font-size: large;
  font-weight: bold;
  &:hover {
    @include btn-hover;
  }
}

@mixin btn-hover {
  background-color: rgb(151, 144, 132);
  color:#faebd7;
  cursor: pointer;
}

@mixin card {
  @include list-style;
  display: flex;
  min-width: 300px;
  width: 500px;
  margin: 5px auto;
  padding: 1em;
  border: 2px $background-color solid;
  border-radius: 20px;
  background: $white-color;

}
@mixin list-style {
  list-style-type: none;
}