$background-color: rgb(78, 70, 50);
$body-color: rgb(150, 126, 81);
$white-color: #faebd7;
$text-area-color:#f8f8f8;
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
sans-serif;